@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
pre {
    font-family: Inter;
}
@layer utilities {
    .flexCenter {
        @apply flex justify-center items-center;
    }

    .flexBetween {
        @apply flex justify-between items-center;
    }

    .flexStart {
        @apply flex items-center justify-start;
    }

    .flexEnd {
        @apply flex items-center justify-end;
    }
}

.bg_yellow {
    @apply bg-yellow-200;
}

.bg_orange {
    @apply bg-orange-200;
}

.bg_violet {
    @apply bg-violet-200;
}

.bg_teal {
    @apply bg-teal-200;
}

.bg_lime {
    @apply bg-lime-200;
}

.bg_cyan {
    @apply bg-cyan-200;
}

.bg_rose {
    @apply bg-rose-200;
}

.text-small {
    @apply text-sm font-medium;
}

.paddings {
    @apply lg:px-20 py-6 px-5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

.modal-head-text {
    @apply md:text-5xl text-3xl font-extrabold text-left max-w-5xl w-full;
}

.no-result-text {
    @apply w-full text-center my-10 px-2;
}

/* Project Details */
.user-actions_section {
    @apply fixed max-md:hidden flex gap-4 flex-col right-10 top-20;
}

.user-info {
    @apply flex flex-wrap whitespace-nowrap text-sm font-normal gap-2 w-full;
}

/* Home */
.projects-grid {
    @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 mt-10 w-full;
}

/* Project Actions */
.edit-action_btn {
    @apply p-3 text-gray-100 bg-light-white-400 rounded-lg text-sm font-medium;
}

.delete-action_btn {
    @apply p-3 text-gray-100 hover:bg-red-600 rounded-lg text-sm font-medium;
}

/* Related Project Card */
.related_project-card {
    @apply flex-col rounded-2xl min-w-[210px] min-h-[197px];
}

.related_project-card_title {
    @apply justify-end items-end w-full h-1/3 bg-gradient-to-b from-transparent to-black/50 rounded-b-2xl gap-2 absolute bottom-0 right-0 font-semibold text-lg text-white p-4;
}

.related_projects-grid {
    @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 mt-5;
}

/* Custom Menu */
.custom_menu-btn {
    @apply gap-4 w-full rounded-md bg-light-white-100 p-4 text-base outline-none capitalize;
}

.custom_menu-items {
    @apply flex-col absolute left-0 mt-2 xs:min-w-[300px] w-fit max-h-64 origin-top-right rounded-xl bg-white border border-nav-border shadow-menu overflow-y-auto;
}

.custom_menu-item {
    @apply text-left w-full px-5 py-2 text-sm hover:bg-light-white-100 self-start whitespace-nowrap capitalize;
}

/* Footer */
.footer {
    @apply flex-col paddings w-full gap-20 bg-light-white;
}

.footer_copyright {
    @apply max-sm:flex-col w-full text-sm font-normal;
}

.footer_column {
    @apply flex-1 flex flex-col gap-3 text-sm min-w-max;
}

/* Form Field */
.form_field-input {
    @apply w-full bg-light-white-100/25 rounded-xl p-4 outline-0 focus:ring-2 focus:ring-zinc-400/25;
}

.sticky_note-container {
    @apply flex flex-col rounded-xl px-4 py-4 gap-y-4 hover:shadow-xl;
}

.sticky_note-action-btn {
    @apply p-2 hover:bg-light-white/50 rounded-full;
}

/* Modal */
.modal {
    @apply fixed z-10 left-0 right-0 top-0 bottom-0 mx-auto bg-black/80;
}

/* .modal_wrapper {
    @apply flex justify-start items-center flex-col absolute h-[95%] w-full bottom-0 bg-white rounded-t-3xl lg:px-40 px-8 pt-14 pb-72 overflow-auto;
} */

.modal_wrapper {
    @apply container h-full w-full mx-0 sm:mx-auto;
}

/* Navbar */
.navbar {
    @apply py-5 px-8 border-b border-nav-border gap-4;
}

/* Profile Menu */
.profile_menu-items {
    @apply flex-col absolute right-1/2 translate-x-1/2 mt-3 p-7 sm:min-w-[300px] min-w-max rounded-xl bg-white border border-nav-border shadow-menu;
}

/* Profile Card */
.profile_card-title {
    @apply justify-end items-end w-full h-1/3 bg-gradient-to-b from-transparent to-black/50 rounded-b-2xl gap-2 absolute bottom-0 right-0 font-semibold text-lg text-white p-4;
}

/* Project Form */
.form {
    @apply flex-col w-full lg:pt-24 pt-12 gap-10 text-lg max-w-5xl mx-auto;
}

.form_image-container {
    @apply w-full lg:min-h-[400px] min-h-[200px] relative;
}

.form_image-label {
    @apply z-10 text-center w-full h-full p-20 text-gray-100 border-2 border-gray-50 border-dashed rounded-xl;
}

.form_image-input {
    @apply absolute z-30 w-full opacity-0 h-full cursor-pointer;
}

/* Profile Projects */
.profile_projects {
    @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 mt-5;
}

.color_picker_btn {
    @apply p-2 rounded-full;
}

.sidebar_link_item {
    @apply p-4 rounded-full hover:cursor-pointer;
}

.sidebar_link_item-active {
    @apply text-black/60 bg-zinc-200 font-semibold;
}

.sidebar_link_item-inactive {
    @apply text-gray hover:text-black/60 hover:bg-zinc-200;
}

.sidebar_section_title {
    @apply font-semibold text-lg;
}

.rounded-btn {
    @apply p-2 rounded-full hover:bg-black/10;
}

.sidebar_container {
    @apply max-lg:hidden bg-slate-100 h-full min-h-full mx-4;
    @apply rounded-2xl overflow-x-hidden h-full;
    @apply transition-all ease-in-out duration-500;
    @apply flex flex-col;
    @apply shadow-sm;
}

.sidebar_container:hover {
    @apply w-[16rem];
}

.sidebar_container {
    @apply w-[4rem];
}

.menu_wrapper {
    @apply relative flex mt-2;
}

.menu_btn {
    @apply absolute right-[1.35rem] top-2;
}

.menu_title {
    @apply relative top-[0.3rem] ml-4 font-semibold text-xl;
    @apply transition-opacity ease-in-out duration-500;
}

.sidebar_container .menu_title {
    @apply opacity-0;
}
.sidebar_container:hover .menu_title {
    @apply opacity-100;
}

.menu_item_wrapper {
    @apply flex items-center py-2 my-1 rounded-full cursor-pointer;
    @apply hover:text-white hover:bg-orange-500;
}

.menu_item_wrapper-active {
    @apply text-white bg-orange-500;
}

.menu_item_wrapper .menu_item_label {
    @apply truncate ml-3;
    @apply transition-opacity ease-in-out duration-500;
}
.sidebar_container:hover .menu_item_wrapper .menu_item_label {
    @apply opacity-100;
}

.sidebar_container .menu_item_wrapper .menu_item_label {
    @apply opacity-0;
}

.menu_item_wrapper .menu_item_icon {
    @apply ml-[0.8rem];
}

.signout_btn_wrapper {
    @apply absolute bottom-8;
}

.section_title {
    @apply font-semibold text-sm uppercase ml-2 truncate mt-4;
}

.sidebar_container .section_title {
    @apply opacity-0;
    @apply transition-opacity ease-in-out duration-500;
}

.sidebar_container:hover .section_title {
    @apply opacity-100;
}

.sidebar_container .list_item:hover * {
    @apply text-white;
}

.page_title {
    @apply font-bold text-3xl;
}

.text_field_container {
    @apply bg-slate-200 w-full px-6 py-4 rounded-full;
}

.text_field_container input {
    @apply bg-transparent;
}
